

.button:hover{
    -fx-text-fill: white;
}
.button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

/**
@font-face {
    src: url("Medici Text.ttf");
}

.label {
    -fx-font-family: “Medici Text”;
}
 */