.root{
    -fx-background-image: url(/images/florence_0.jpg);
    -fx-background-size: cover;
    -fx-background-position: left;
    -fx-cursor: default;
}


#big{
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: white;
    -fx-background-image: url(/images/coin.png);
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-font-size: 42;
}

#big:hover{
    -fx-cursor: hand;
    -fx-text-fill: black;
}

#x0, #x1, #x2, #x3, #y0, #y1, #y2{
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
}

.gameStateHBox {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-border-color:
            linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    -fx-border-style: solid;
    -fx-border-width:
            5 0 0 0;
}

.gameStateLabel {
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-font-size: 20;
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: white;
}

#coins, #servants, #shields, #stones {
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: white;
    -fx-font-size: 32;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.actionButtonsContainer {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-border-color:
            linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    -fx-border-style: solid;
    -fx-border-width:
            5 0 0 0;
}

.actionButton{
    -fx-font-family: 'Blackadder ITC';
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.leaderButton{
    -fx-font-family: 'Blackadder ITC';
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.button:hover{
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.leaderButtonsContainer {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-border-color:
            linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    -fx-border-style: solid;
    -fx-border-width:
            5 0 0 0;
}

.leadersPane {
    -fx-background-image: url(/images/wall2.jpg);
    -fx-background-repeat: repeat;
}

.menuTitle{
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, black, 2, 0, 0, 0);
}

.gameLabel {
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, white, 2, 0, 0, 0);
}

.cb {
    -fx-mark-color: white ;
    -fx-background-color: rgba(0, 0, 0, 0.8);

}

.cb .label {
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: white;
    -fx-font-size: 25;
}

.cb .context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.cb .menu-item {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.cb .menu-item .label {
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: white;
    -fx-font-size: 25;
}

.cb .menu-item:focused {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.cb .menu-item:focused .label {
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: black;
    -fx-font-size: 25;
}

.produceButton:hover {
    -fx-pref-height: 80;
    -fx-pref-width: 80;
    -fx-background-color: transparent;
    -fx-background-size: 80;
    -fx-background-position: center;
}

.produceButton {
    -fx-pref-height: 64;
    -fx-pref-width: 64;
    -fx-background-color: transparent;
    -fx-background-image: url(/images/thor.png);
    -fx-background-size: 64;
    -fx-background-position: center;
}

.acquireResourcesButton:hover {
    -fx-pref-height: 80;
    -fx-pref-width: 80;
    -fx-background-color: transparent;
    -fx-background-size: 80;
    -fx-background-position: center;
}

.acquireResourcesButton {
    -fx-pref-height: 64;
    -fx-pref-width: 64;
    -fx-background-color: transparent;
    -fx-background-image: url(/images/market.png);
    -fx-background-size: 64;
    -fx-background-position: center;
}

.buyDevCardButton:hover {
    -fx-pref-height: 80;
    -fx-pref-width: 80;
    -fx-background-color: transparent;
    -fx-background-size: 80;
    -fx-background-position: center;
}

.buyDevCardButton {
    -fx-pref-height: 64;
    -fx-pref-width: 64;
    -fx-background-color: transparent;
    -fx-background-image: url(/images/money-bag.png);
    -fx-background-size: 64;
    -fx-background-position: center;
}

.playLeaderButton:hover {
    -fx-pref-height: 80;
    -fx-pref-width: 80;
    -fx-background-color: transparent;
    -fx-background-size: 80;
    -fx-background-position: center;
}

.playLeaderButton {
    -fx-pref-height: 64;
    -fx-pref-width: 64;
    -fx-background-color: transparent;
    -fx-background-image: url(/images/add.png);
    -fx-background-size: 64;
    -fx-background-position: center;
}

.discardLeaderButton:hover {
    -fx-pref-height: 80;
    -fx-pref-width: 80;
    -fx-background-color: transparent;
    -fx-background-size: 80;
    -fx-background-position: center;
}

.discardLeaderButton {
    -fx-pref-height: 64;
    -fx-pref-width: 64;
    -fx-background-color: transparent;
    -fx-background-image: url(/images/remove.png);
    -fx-background-size: 64;
    -fx-background-position: center;
}

.reorganizeButton:hover {
    -fx-pref-height: 80;
    -fx-pref-width: 80;
    -fx-background-color: transparent;
    -fx-background-size: 80;
    -fx-background-position: center;
}

.reorganizeButton {
    -fx-pref-height: 64;
    -fx-pref-width: 64;
    -fx-background-color: transparent;
    -fx-background-image: url(/images/shelf.png);
    -fx-background-size: 64;
    -fx-background-position: center;
}