
@font-face {

    font-family: 'Medici Text';
    src: url("../fonts/MediciText.ttf");
}

.button{
    -fx-font-family: "Medici Text";
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 32;
}

.button:hover{
    -fx-text-fill: white;
}

.label{
    -fx-font-family: "Medici Text";
    -fx-font-size: 82;
}