.button{
    -fx-font-family: 'Blackadder ITC';
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 32;
    -fx-pref-height: -1;
    -fx-pref-width: 300;
}

.button:hover{
    -fx-pref-width: 300;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.label{
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: black;
    -fx-font-size: 112;
    -fx-effect: dropshadow(gaussian, black, 5, 0, 0, 0);
}

VBox{
    -fx-pref-height: -1;
    -fx-pref-width: 300;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-border-color:
            linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    -fx-border-style: solid;
    -fx-border-width:
            5 0 0 0;
}

.root{
    -fx-background-image: url(/images/florence_0.jpg);
    -fx-background-size: cover;
    -fx-background-position: left;
    -fx-cursor: default;
}

.bottomLabel {
    -fx-font-family: 'Blackadder ITC';
    -fx-text-fill: white;
    -fx-font-size: 40;
    -fx-effect: dropshadow(gaussian, black, 5, 0, 0, 0);
}