.root{
    -fx-background-image: url(/images/florence_5.jpg);
    -fx-background-size: cover;
    -fx-background-position: left;
    -fx-cursor: default;
}

HBox{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.button{
    -fx-font-family: 'Blackadder ITC';
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 96;
}

.button:hover{
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.buttonVBox {
    -fx-pref-height: -1;
    -fx-pref-width: 400;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-border-color:
            linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    -fx-border-style: solid;
    -fx-border-width:
            5 0 0 0;
}

.leadHBox {
    -fx-background-color: transparent;
    -fx-pref-width: 260;
    -fx-pref-height: 330;
}